@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Assets/Style.css"/>
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Test Link", "GuestForm")
    </div>
</body>
</html>
